:root {
	--container-width: 1000PX;

	--link-url-color: #fbe068;
	--link-url-color-hover: #db6551;
	--header-font-family: "Press Start 2P", system-ui;
}

body {
	height: 100%;
    margin: 0;
    background-image: url("images/num.gif");
    background-repeat: repeat;
    background-attachment: fixed;
	background-color: #a29444;
	background-blend-mode: hard-light;
}

/* Wrappers */
#page-wrapper {
	max-width: var(--container-width);
	margin: auto;
	padding: 1em;
}

#logo-and-music-wrapper {
	display: flex;
}

#body-wrapper{
	display: flex;
	margin-top: 1em;
}


/* Core */
.item-container {
	background: #32383e;
	margin: 0em;
	flex-grow: 1;
}

.item-container-header {
	background-color: #D7574E;
	background: linear-gradient(0deg, rgba(215, 87, 78, 1) 0%, rgba(255, 240, 107, 1) 100%);
}

.item-container-body{
	padding: 1em;
}

.header-text {
	display: inline-block;
	border-bottom: .25rem solid white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

	margin: 0 1rem;
	padding: 0.6rem 0.75rem 0.3rem;

	font-family: var(--header-font-family);
	font-weight: 1000;
  	font-style: normal;
	color: white;
}



/* Logo */
.logo-container {
	margin-left: 1em;
	flex-grow: 1;
}

.logo-container-body {
	text-align: center;
}

.header-subtext {
	font-weight: 500;
	font-size-adjust: 0.6;
}

.logo-text {
	display: inline-block;

	font-family: var(--header-font-family);
  	font-style: normal;
	font-size-adjust: 0.5;
	color: white;
	margin-bottom: 0px;
}

.header-logo {
	max-width: 100%;
}


/* Music Sidebar */
.music-container-body {
	height: 100%;
}


/* Links */
.link-container {
	font-family: "Press Start 2P", system-ui;
  	font-style: normal;
}

.link-group {
	display:flex;
	justify-content: space-evenly;
	margin-bottom: 0.5em;
}

.link-group-title {
	margin-top: 1.5em;
}

.link-url {
	color: var(--link-url-color);
	text-decoration: underline;
}

.link-url:hover {
	color: var(--link-url-color-hover);
}

.link-hr {
	border-top: 1px dashed var(--link-url-color);
	margin: 1rem;
}



/* Main content */
.item-title {
    color: #e8e8e8;
}

.item-url {
    color: #e8e8e8;
}
