:root {
	--container-width: 1000PX;
}

body {
	height: 100%;
    margin: 0;
    background-image: url("images/num.gif");
    background-repeat: repeat;
    background-attachment: fixed;
}

.main-container {
	max-width: var(--container-width);
	margin: auto;
	padding: 1em;
}

.sub-container {
	background: #32383e;
	margin: 0em;
	text-align: center;
	flex-grow: 1;
}

.sub-container-header {
	background-color: #D7574E;
	background: linear-gradient(0deg, rgba(215, 87, 78, 1) 0%, rgba(255, 240, 107, 1) 100%);
}

.sub-container-body{
}

.header-container {
	display: flex;
}

.header-image-container {
	margin-left: 1em;
	flex-grow: 1;
}

.body-container {
	display: flex;
	margin-top: 1em;
}

.logo {
    width: 1em;
    height: 1em;
}

.logo-2x {
    width: 2em;
    height: 2em;
}

.header-logo {
	margin: auto;
	max-width: 700px;
}

.header_url {
    padding: 0.5em 1em;
	margin: 0.5em;
	display: block;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}

.jumbotron {
    color: #e8e8e8;
    padding: 1rem;
}

.main-item {
	margin: auto;
	margin-bottom: 1.5rem;
}

.card-album {
    padding-top: 0px;
}

.item-title {
    color: #e8e8e8;
}

.item-url {
    color: #e8e8e8;
}

.navbar-brand {
	border-right: 0px;
}

.navbar .nav-link {
	/* Remove side borders that come with slate bootstrap theme */
	border-left: 0px;
	border-right: 0px;

	padding-bottom: .75rem
}

.nav-link.active {
	/* Add more depth to selected navbar link */
	font-weight: bold;
	border-bottom: .25rem solid white;
}

.card-video {
	/* https://blog.theodo.com/2018/01/responsive-iframes-css-trick/. Padding top is related to the default YouTube aspect ratio */
	position:relative;
	padding-top:56.25%;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}
