:root {
	--container-width: 1000PX;
}

body {
	height: 100%;
    margin: 0;
    background-image: url("images/num.gif");
    background-repeat: repeat;
    background-attachment: fixed;
	background-color: #a29444;
	background-blend-mode: hard-light;
}

/* Core */
.main-container {
	max-width: var(--container-width);
	margin: auto;
	padding: 1em;
}

.sub-container {
	background: #32383e;
	margin: 0em;
	flex-grow: 1;
}

.header-text {
	display: inline-block;
	border-bottom: .25rem solid white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

	margin: 0 1rem;
	padding: 0.6rem 0.75rem 0.3rem;

	font-family: "Press Start 2P", system-ui;
	font-weight: 1000;
  	font-style: normal;
	color: white;
}

p.header-body-text {
	display: inline-block;

	font-family: "Press Start 2P", system-ui;
  	font-style: normal;
	font-size-adjust: 0.5;
	color: white;
	margin-bottom: 0px;
}


.sub-container-header {
	background-color: #D7574E;
	background: linear-gradient(0deg, rgba(215, 87, 78, 1) 0%, rgba(255, 240, 107, 1) 100%);
}

.sub-container-body{
	padding: 1em;
}


/* Header */
.header-and-link-container {
	display: flex;
}

.header-container-body {
	text-align: center;
}

.header-subtext {
	font-weight: 500;
	font-size-adjust: 0.6;
}

.header-image-container {
	margin-left: 1em;
	flex-grow: 1;
}

.header-logo {
	width: inherit;
}



/* Link Sidebar */
.link-container-body {
	padding: 1rem 0.5rem;

	text-align: center;
	font-family: "Press Start 2P", system-ui;
  	font-style: normal;
}

.link-url {
	display: block;
	color: #fbe068;
	text-decoration: underline;
}

.link-url:hover {
	color: #db6551;
}

.link-hr {
	border-top: 1px dashed #fbe068;
	margin: 1rem;
}



/* Main content */
.body-container {
	display: flex;
	margin-top: 1em;
}

.item-title {
    color: #e8e8e8;
}

.item-url {
    color: #e8e8e8;
}

